# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment variables
backend/.env
frontend/.env
.env

# Node
node_modules/
frontend/node_modules/
mobile/node_modules/

# Expo
.expo/
mobile/.expo/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/.venv
